/*
 * Ansible Tower API
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 
 * Generated by: OpenAPI Generator (https://openapi-generator.tech)
 */

package openapi

import (
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
)

// Linger please
var (
	_ _context.Context
)

// UnifiedJobTemplatesApiService UnifiedJobTemplatesApi service
type UnifiedJobTemplatesApiService service

type ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest struct {
	ctx _context.Context
	ApiService *UnifiedJobTemplatesApiService
	page *int32
	pageSize *int32
	search *string
}

func (r ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest) Page(page int32) ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest {
	r.page = &page
	return r
}
func (r ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest) PageSize(pageSize int32) ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest) Search(search string) ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest {
	r.search = &search
	return r
}

func (r ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.UnifiedJobTemplatesUnifiedJobTemplatesListExecute(r)
}

/*
 * UnifiedJobTemplatesUnifiedJobTemplatesList  List Unified Job Templates
 * 
Make a GET request to this resource to retrieve the list of
unified job templates.

The resulting data structure contains:

    {
        "count": 99,
        "next": null,
        "previous": null,
        "results": [
            ...
        ]
    }

The `count` field indicates the total number of unified job templates
found for the given query.  The `next` and `previous` fields provides links to
additional results if there are more than will fit on a single page.  The
`results` list contains zero or more unified job template records.  

## Results

Each unified job template data structure includes the following fields:

* `id`: Database ID for this unified job template. (integer)
* `type`: Data type for this unified job template. (choice)
* `url`: URL for this unified job template. (string)
* `related`: Data structure with URLs of related resources. (object)
* `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object)
* `created`: Timestamp when this unified job template was created. (datetime)
* `modified`: Timestamp when this unified job template was last modified. (datetime)
* `name`: Name of this unified job template. (string)
* `description`: Optional description of this unified job template. (string)
* `last_job_run`:  (datetime)
* `last_job_failed`:  (boolean)
* `next_job_run`:  (datetime)
* `status`:  (choice)
    - `new`: New
    - `pending`: Pending
    - `waiting`: Waiting
    - `running`: Running
    - `successful`: Successful
    - `failed`: Failed
    - `error`: Error
    - `canceled`: Canceled
    - `never updated`: Never Updated
    - `ok`: OK
    - `missing`: Missing
    - `none`: No External Source
    - `updating`: Updating



## Sorting

To specify that unified job templates are returned in a particular
order, use the `order_by` query string parameter on the GET request.

    ?order_by=name

Prefix the field name with a dash `-` to sort in reverse:

    ?order_by=-name

Multiple sorting fields may be specified by separating the field names with a
comma `,`:

    ?order_by=name,some_other_field

## Pagination

Use the `page_size` query string parameter to change the number of results
returned for each request.  Use the `page` query string parameter to retrieve
a particular page of results.

    ?page_size=100&page=2

The `previous` and `next` links returned with the results will set these query
string parameters automatically.

## Searching

Use the `search` query string parameter to perform a case-insensitive search
within all designated text fields of a model.

    ?search=findme

(_Added in Ansible Tower 3.1.0_) Search across related fields:

    ?related__search=findme
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest
 */
func (a *UnifiedJobTemplatesApiService) UnifiedJobTemplatesUnifiedJobTemplatesList(ctx _context.Context) ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest {
	return ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 */
func (a *UnifiedJobTemplatesApiService) UnifiedJobTemplatesUnifiedJobTemplatesListExecute(r ApiUnifiedJobTemplatesUnifiedJobTemplatesListRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UnifiedJobTemplatesApiService.UnifiedJobTemplatesUnifiedJobTemplatesList")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/unified_job_templates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
