/*
 * Ansible Tower API
 *
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// WorkflowJobTemplatesApiService WorkflowJobTemplatesApi service
type WorkflowJobTemplatesApiService service

type ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	page *int32
	pageSize *int32
	search *string
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest) Page(page int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest {
	r.page = &page
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest) PageSize(pageSize int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest) Search(search string) ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest {
	r.search = &search
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesAccessListListExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesAccessListList  List Users
 * 
Make a GET request to this resource to retrieve the list of
users.

The resulting data structure contains:

    {
        "count": 99,
        "next": null,
        "previous": null,
        "results": [
            ...
        ]
    }

The `count` field indicates the total number of users
found for the given query.  The `next` and `previous` fields provides links to
additional results if there are more than will fit on a single page.  The
`results` list contains zero or more user records.  

## Results

Each user data structure includes the following fields:

* `id`: Database ID for this user. (integer)
* `type`: Data type for this user. (choice)
* `url`: URL for this user. (string)
* `related`: Data structure with URLs of related resources. (object)
* `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object)
* `created`: Timestamp when this user was created. (datetime)
* `username`: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only. (string)
* `first_name`:  (string)
* `last_name`:  (string)
* `email`:  (string)
* `is_superuser`: Designates that this user has all permissions without explicitly assigning them. (boolean)
* `is_system_auditor`:  (boolean)

* `ldap_dn`:  (string)
* `last_login`:  (datetime)
* `external_account`: Set if the account is managed by an external service (field)



## Sorting

To specify that users are returned in a particular
order, use the `order_by` query string parameter on the GET request.

    ?order_by=username

Prefix the field name with a dash `-` to sort in reverse:

    ?order_by=-username

Multiple sorting fields may be specified by separating the field names with a
comma `,`:

    ?order_by=username,some_other_field

## Pagination

Use the `page_size` query string parameter to change the number of results
returned for each request.  Use the `page` query string parameter to retrieve
a particular page of results.

    ?page_size=100&page=2

The `previous` and `next` links returned with the results will set these query
string parameters automatically.

## Searching

Use the `search` query string parameter to perform a case-insensitive search
within all designated text fields of a model.

    ?search=findme

(_Added in Ansible Tower 3.1.0_) Search across related fields:

    ?related__search=findme
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesAccessListList(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesAccessListListExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesAccessListListRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesAccessListList")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/access_list/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	page *int32
	pageSize *int32
	search *string
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest) Page(page int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest {
	r.page = &page
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest) PageSize(pageSize int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest) Search(search string) ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest {
	r.search = &search
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesActivityStreamList  List Activity Streams for a Workflow Job Template
 * 
Make a GET request to this resource to retrieve a list of
activity streams associated with the selected
workflow job template.

The resulting data structure contains:

    {
        "count": 99,
        "next": null,
        "previous": null,
        "results": [
            ...
        ]
    }

The `count` field indicates the total number of activity streams
found for the given query.  The `next` and `previous` fields provides links to
additional results if there are more than will fit on a single page.  The
`results` list contains zero or more activity stream records.  

## Results

Each activity stream data structure includes the following fields:

* `id`: Database ID for this activity stream. (integer)
* `type`: Data type for this activity stream. (choice)
* `url`: URL for this activity stream. (string)
* `related`: Data structure with URLs of related resources. (object)
* `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object)
* `timestamp`:  (datetime)
* `operation`: The action taken with respect to the given object(s). (choice)
    - `create`: Entity Created
    - `update`: Entity Updated
    - `delete`: Entity Deleted
    - `associate`: Entity Associated with another Entity
    - `disassociate`: Entity was Disassociated with another Entity
* `changes`: A summary of the new and changed values when an object is created, updated, or deleted (json)
* `object1`: For create, update, and delete events this is the object type that was affected. For associate and disassociate events this is the object type associated or disassociated with object2. (string)
* `object2`: Unpopulated for create, update, and delete events. For associate and disassociate events this is the object type that object1 is being associated with. (string)
* `object_association`: When present, shows the field name of the role or relationship that changed. (field)
* `action_node`: The cluster node the activity took place on. (string)
* `object_type`: When present, shows the model on which the role or relationship was defined. (field)



## Sorting

To specify that activity streams are returned in a particular
order, use the `order_by` query string parameter on the GET request.

    ?order_by=name

Prefix the field name with a dash `-` to sort in reverse:

    ?order_by=-name

Multiple sorting fields may be specified by separating the field names with a
comma `,`:

    ?order_by=name,some_other_field

## Pagination

Use the `page_size` query string parameter to change the number of results
returned for each request.  Use the `page` query string parameter to retrieve
a particular page of results.

    ?page_size=100&page=2

The `previous` and `next` links returned with the results will set these query
string parameters automatically.

## Searching

Use the `search` query string parameter to perform a case-insensitive search
within all designated text fields of a model.

    ?search=findme

(_Added in Ansible Tower 3.1.0_) Search across related fields:

    ?related__search=findme
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesActivityStreamList(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesActivityStreamListRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesActivityStreamList")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/activity_stream/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyCreateRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	data *InlineObject80
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyCreateRequest) Data(data InlineObject80) ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyCreateRequest {
	r.data = &data
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyCreateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesCopyCreateExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesCopyCreate Copy a Workflow Job Template
 * 
Make a GET request to this resource to determine if the current user has
permission to copy the workflow job template and whether any linked
templates or prompted fields will be ignored due to permissions problems.
The response will include the following fields:

* `can_copy`: Flag indicating whether the active user has permission to make
  a copy of this workflow job template, provides same content as the
  workflow job template detail view summary_fields.user_capabilities.copy
  (boolean, read-only)
* `can_copy_without_user_input`: Flag indicating if the user should be
  prompted for confirmation before the copy is executed (boolean, read-only)
* `templates_unable_to_copy`: List of node ids of nodes that have a related
  job template, project, or inventory that the current user lacks permission
  to use and will be missing in workflow nodes of the copy (array, read-only)
* `inventories_unable_to_copy`: List of node ids of nodes that have a related
  prompted inventory that the current user lacks permission
  to use and will be missing in workflow nodes of the copy (array, read-only)
* `credentials_unable_to_copy`: List of node ids of nodes that have a related
  prompted credential that the current user lacks permission
  to use and will be missing in workflow nodes of the copy (array, read-only)

Make a POST request to this endpoint to save a copy of this
workflow job template. No POST data is accepted for this action.

If successful, the response status code will be 201. The response body will
contain serialized data about the new workflow job template, which will be
similar to the original workflow job template, but with an additional `@`
and a timestamp in the name.

All workflow nodes and connections in the original will also exist in the
copy. The nodes will be missing related resources if the user did not have
access to use them.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyCreateRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesCopyCreate(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyCreateRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesCopyCreateExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyCreateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesCopyCreate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/copy/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	page *int32
	pageSize *int32
	search *string
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest) Page(page int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest {
	r.page = &page
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest) PageSize(pageSize int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest) Search(search string) ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest {
	r.search = &search
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesCopyListExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesCopyList Copy a Workflow Job Template
 * 
Make a GET request to this resource to determine if the current user has
permission to copy the workflow job template and whether any linked
templates or prompted fields will be ignored due to permissions problems.
The response will include the following fields:

* `can_copy`: Flag indicating whether the active user has permission to make
  a copy of this workflow job template, provides same content as the
  workflow job template detail view summary_fields.user_capabilities.copy
  (boolean, read-only)
* `can_copy_without_user_input`: Flag indicating if the user should be
  prompted for confirmation before the copy is executed (boolean, read-only)
* `templates_unable_to_copy`: List of node ids of nodes that have a related
  job template, project, or inventory that the current user lacks permission
  to use and will be missing in workflow nodes of the copy (array, read-only)
* `inventories_unable_to_copy`: List of node ids of nodes that have a related
  prompted inventory that the current user lacks permission
  to use and will be missing in workflow nodes of the copy (array, read-only)
* `credentials_unable_to_copy`: List of node ids of nodes that have a related
  prompted credential that the current user lacks permission
  to use and will be missing in workflow nodes of the copy (array, read-only)

Make a POST request to this endpoint to save a copy of this
workflow job template. No POST data is accepted for this action.

If successful, the response status code will be 201. The response body will
contain serialized data about the new workflow job template, which will be
similar to the original workflow job template, but with an additional `@`
and a timestamp in the name.

All workflow nodes and connections in the original will also exist in the
copy. The nodes will be missing related resources if the user did not have
access to use them.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesCopyList(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesCopyListExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesCopyListRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesCopyList")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/copy/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesCreateRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	data *InlineObject78
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesCreateRequest) Data(data InlineObject78) ApiWorkflowJobTemplatesWorkflowJobTemplatesCreateRequest {
	r.data = &data
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesCreateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesCreateExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesCreate  Create a Workflow Job Template
 * 
Make a POST request to this resource with the following workflow job template
fields to create a new workflow job template:









* `name`: Name of this workflow job template. (string, required)
* `description`: Optional description of this workflow job template. (string, default=`""`)




* `extra_vars`:  (json, default=``)
* `organization`: The organization used to determine access to this template. (id, default=``)
* `survey_enabled`:  (boolean, default=`False`)
* `allow_simultaneous`:  (boolean, default=`False`)
* `ask_variables_on_launch`:  (boolean, default=`False`)
* `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id, default=``)
* `limit`:  (string, default=`""`)
* `scm_branch`:  (string, default=`""`)
* `ask_inventory_on_launch`:  (boolean, default=`False`)
* `ask_scm_branch_on_launch`:  (boolean, default=`False`)
* `ask_limit_on_launch`:  (boolean, default=`False`)
* `webhook_service`: Service that webhook requests will be accepted from (choice)
    - `""`: ---------
    - `github`: GitHub
    - `gitlab`: GitLab
* `webhook_credential`: Personal Access Token for posting back the status to the service API (id, default=``)
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesCreateRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesCreate(ctx _context.Context) ApiWorkflowJobTemplatesWorkflowJobTemplatesCreateRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesCreateExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesCreateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesCreate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesDeleteRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	search *string
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesDeleteRequest) Search(search string) ApiWorkflowJobTemplatesWorkflowJobTemplatesDeleteRequest {
	r.search = &search
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesDeleteRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesDeleteExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesDelete  Delete a Workflow Job Template
 * 
Make a DELETE request to this resource to delete this workflow job template.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesDeleteRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesDelete(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesDeleteRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesDeleteExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesDeleteRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesDelete")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesGithubCreateRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
}


func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesGithubCreateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesGithubCreateExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesGithubCreate Method for WorkflowJobTemplatesWorkflowJobTemplatesGithubCreate
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesGithubCreateRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesGithubCreate(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesGithubCreateRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesGithubCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesGithubCreateExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesGithubCreateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesGithubCreate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/github/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesGitlabCreateRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
}


func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesGitlabCreateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesGitlabCreateExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesGitlabCreate Method for WorkflowJobTemplatesWorkflowJobTemplatesGitlabCreate
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesGitlabCreateRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesGitlabCreate(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesGitlabCreateRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesGitlabCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesGitlabCreateExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesGitlabCreateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesGitlabCreate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/gitlab/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	data *InlineObject81
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateRequest) Data(data InlineObject81) ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateRequest {
	r.data = &data
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesLabelsCreate  Create a Label for a Workflow Job Template
 * 
Make a POST request to this resource with the following label
fields to create a new label associated with this
workflow job template.









* `name`: Name of this label. (string, required)
* `organization`: Organization this label belongs to. (id, required)








# Add Labels for a Workflow Job Template:

Make a POST request to this resource with only an `id` field to associate an
existing label with this workflow job template.

# Remove Labels from this Workflow Job Template:

Make a POST request to this resource with `id` and `disassociate` fields to
remove the label from this workflow job template
.




Labels not associated with any other resources are deleted. A label can become disassociated with a resource as a result of 3 events.

1. A label is explicitly disassociated with a related job template
2. A job is deleted with labels
3. A cleanup job deletes a job with labels
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesLabelsCreate(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsCreateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesLabelsCreate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/labels/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	page *int32
	pageSize *int32
	search *string
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest) Page(page int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest {
	r.page = &page
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest) PageSize(pageSize int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest) Search(search string) ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest {
	r.search = &search
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesLabelsListExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesLabelsList  List Labels for a Workflow Job Template
 * 
Make a GET request to this resource to retrieve a list of
labels associated with the selected
workflow job template.

The resulting data structure contains:

    {
        "count": 99,
        "next": null,
        "previous": null,
        "results": [
            ...
        ]
    }

The `count` field indicates the total number of labels
found for the given query.  The `next` and `previous` fields provides links to
additional results if there are more than will fit on a single page.  The
`results` list contains zero or more label records.  

## Results

Each label data structure includes the following fields:

* `id`: Database ID for this label. (integer)
* `type`: Data type for this label. (choice)
* `url`: URL for this label. (string)
* `related`: Data structure with URLs of related resources. (object)
* `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object)
* `created`: Timestamp when this label was created. (datetime)
* `modified`: Timestamp when this label was last modified. (datetime)
* `name`: Name of this label. (string)
* `organization`: Organization this label belongs to. (id)



## Sorting

To specify that labels are returned in a particular
order, use the `order_by` query string parameter on the GET request.

    ?order_by=name

Prefix the field name with a dash `-` to sort in reverse:

    ?order_by=-name

Multiple sorting fields may be specified by separating the field names with a
comma `,`:

    ?order_by=name,some_other_field

## Pagination

Use the `page_size` query string parameter to change the number of results
returned for each request.  Use the `page` query string parameter to retrieve
a particular page of results.

    ?page_size=100&page=2

The `previous` and `next` links returned with the results will set these query
string parameters automatically.

## Searching

Use the `search` query string parameter to perform a case-insensitive search
within all designated text fields of a model.

    ?search=findme

(_Added in Ansible Tower 3.1.0_) Search across related fields:

    ?related__search=findme
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesLabelsList(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesLabelsListExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesLabelsListRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesLabelsList")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/labels/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	data *InlineObject82
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest) Data(data InlineObject82) ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest {
	r.data = &data
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesLaunchCreate Launch a Workflow Job Template
 * 
Make a GET request to this resource to determine if the workflow_job_template
can be launched and whether any passwords are required to launch the
workflow_job_template. The response will include the following fields:

* `can_start_without_user_input`: Flag indicating if the workflow_job_template
  can be launched without user-input (boolean, read-only)
* `variables_needed_to_start`: Required variable names required to launch the
  workflow_job_template (array, read-only)
* `survey_enabled`: Flag indicating whether the workflow_job_template has an
  enabled survey (boolean, read-only)
* `extra_vars`: Text which is the `extra_vars` field of this workflow_job_template
  (text, read-only)
* `node_templates_missing`: List of node ids of all nodes that have a
  null `unified_job_template`, which will cause their branches to stop
  execution (list, read-only)
* `node_prompts_rejected`: List of node ids of all nodes that have
  specified a field that will be rejected because its  `unified_job_template`
  does not allow prompting for this field, this will not halt execution of
  the branch but the field will be ignored (list, read-only)
* `workflow_job_template_data`: JSON object listing general information of
  this workflow_job_template (JSON object, read-only)

Make a POST request to this resource to launch the workflow_job_template. If any
credential, inventory, project or extra variables (extra_vars) are required, they
must be passed via POST data, with extra_vars given as a YAML or JSON string and
escaped parentheses.

If successful, the response status code will be 201.  If any required passwords
are not provided, a 400 status code will be returned.  If the workflow job cannot
be launched, a 405 status code will be returned. If the provided credential or
inventory are not allowed to be used by the user, then a 403 status code will
be returned.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesLaunchCreate(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesLaunchCreate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/launch/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchReadRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	search *string
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchReadRequest) Search(search string) ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchReadRequest {
	r.search = &search
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchReadRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesLaunchReadExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesLaunchRead Launch a Workflow Job Template
 * 
Make a GET request to this resource to determine if the workflow_job_template
can be launched and whether any passwords are required to launch the
workflow_job_template. The response will include the following fields:

* `can_start_without_user_input`: Flag indicating if the workflow_job_template
  can be launched without user-input (boolean, read-only)
* `variables_needed_to_start`: Required variable names required to launch the
  workflow_job_template (array, read-only)
* `survey_enabled`: Flag indicating whether the workflow_job_template has an
  enabled survey (boolean, read-only)
* `extra_vars`: Text which is the `extra_vars` field of this workflow_job_template
  (text, read-only)
* `node_templates_missing`: List of node ids of all nodes that have a
  null `unified_job_template`, which will cause their branches to stop
  execution (list, read-only)
* `node_prompts_rejected`: List of node ids of all nodes that have
  specified a field that will be rejected because its  `unified_job_template`
  does not allow prompting for this field, this will not halt execution of
  the branch but the field will be ignored (list, read-only)
* `workflow_job_template_data`: JSON object listing general information of
  this workflow_job_template (JSON object, read-only)

Make a POST request to this resource to launch the workflow_job_template. If any
credential, inventory, project or extra variables (extra_vars) are required, they
must be passed via POST data, with extra_vars given as a YAML or JSON string and
escaped parentheses.

If successful, the response status code will be 201.  If any required passwords
are not provided, a 400 status code will be returned.  If the workflow job cannot
be launched, a 405 status code will be returned. If the provided credential or
inventory are not allowed to be used by the user, then a 403 status code will
be returned.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchReadRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesLaunchRead(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchReadRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesLaunchReadExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesLaunchReadRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesLaunchRead")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/launch/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	page *int32
	pageSize *int32
	search *string
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest) Page(page int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest {
	r.page = &page
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest) PageSize(pageSize int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest) Search(search string) ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest {
	r.search = &search
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesListExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesList  List Workflow Job Templates
 * 
Make a GET request to this resource to retrieve the list of
workflow job templates.

The resulting data structure contains:

    {
        "count": 99,
        "next": null,
        "previous": null,
        "results": [
            ...
        ]
    }

The `count` field indicates the total number of workflow job templates
found for the given query.  The `next` and `previous` fields provides links to
additional results if there are more than will fit on a single page.  The
`results` list contains zero or more workflow job template records.  

## Results

Each workflow job template data structure includes the following fields:

* `id`: Database ID for this workflow job template. (integer)
* `type`: Data type for this workflow job template. (choice)
* `url`: URL for this workflow job template. (string)
* `related`: Data structure with URLs of related resources. (object)
* `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object)
* `created`: Timestamp when this workflow job template was created. (datetime)
* `modified`: Timestamp when this workflow job template was last modified. (datetime)
* `name`: Name of this workflow job template. (string)
* `description`: Optional description of this workflow job template. (string)
* `last_job_run`:  (datetime)
* `last_job_failed`:  (boolean)
* `next_job_run`:  (datetime)
* `status`:  (choice)
    - `new`: New
    - `pending`: Pending
    - `waiting`: Waiting
    - `running`: Running
    - `successful`: Successful
    - `failed`: Failed
    - `error`: Error
    - `canceled`: Canceled
    - `never updated`: Never Updated
    - `ok`: OK
    - `missing`: Missing
    - `none`: No External Source
    - `updating`: Updating
* `extra_vars`:  (json)
* `organization`: The organization used to determine access to this template. (id)
* `survey_enabled`:  (boolean)
* `allow_simultaneous`:  (boolean)
* `ask_variables_on_launch`:  (boolean)
* `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id)
* `limit`:  (string)
* `scm_branch`:  (string)
* `ask_inventory_on_launch`:  (boolean)
* `ask_scm_branch_on_launch`:  (boolean)
* `ask_limit_on_launch`:  (boolean)
* `webhook_service`: Service that webhook requests will be accepted from (choice)
    - `""`: ---------
    - `github`: GitHub
    - `gitlab`: GitLab
* `webhook_credential`: Personal Access Token for posting back the status to the service API (id)



## Sorting

To specify that workflow job templates are returned in a particular
order, use the `order_by` query string parameter on the GET request.

    ?order_by=name

Prefix the field name with a dash `-` to sort in reverse:

    ?order_by=-name

Multiple sorting fields may be specified by separating the field names with a
comma `,`:

    ?order_by=name,some_other_field

## Pagination

Use the `page_size` query string parameter to change the number of results
returned for each request.  Use the `page` query string parameter to retrieve
a particular page of results.

    ?page_size=100&page=2

The `previous` and `next` links returned with the results will set these query
string parameters automatically.

## Searching

Use the `search` query string parameter to perform a case-insensitive search
within all designated text fields of a model.

    ?search=findme

(_Added in Ansible Tower 3.1.0_) Search across related fields:

    ?related__search=findme
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesList(ctx _context.Context) ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesListExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesListRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesList")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	data *map[string]interface{}
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateRequest) Data(data map[string]interface{}) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateRequest {
	r.data = &data
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreate  Create a Notification Template for a Workflow Job Template
 * 
Make a POST request to this resource with the following notification template
fields to create a new notification template associated with this
workflow job template.









* `name`: Name of this notification template. (string, required)
* `description`: Optional description of this notification template. (string, default=`""`)
* `organization`:  (id, required)
* `notification_type`:  (choice, required)
    - `email`: Email
    - `grafana`: Grafana
    - `irc`: IRC
    - `mattermost`: Mattermost
    - `pagerduty`: Pagerduty
    - `rocketchat`: Rocket.Chat
    - `slack`: Slack
    - `twilio`: Twilio
    - `webhook`: Webhook
* `notification_configuration`:  (json, default=`{}`)
* `messages`: Optional custom messages for notification template. (json, default=`{&#39;started&#39;: None, &#39;success&#39;: None, &#39;error&#39;: None, &#39;workflow_approval&#39;: None}`)








# Add Notification Templates for a Workflow Job Template:

Make a POST request to this resource with only an `id` field to associate an
existing notification template with this workflow job template.

# Remove Notification Templates from this Workflow Job Template:

Make a POST request to this resource with `id` and `disassociate` fields to
remove the notification template from this workflow job template
 without deleting the notification template.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreate(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/notification_templates_approvals/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	page *int32
	pageSize *int32
	search *string
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest) Page(page int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest {
	r.page = &page
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest) PageSize(pageSize int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest) Search(search string) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest {
	r.search = &search
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsList  List Notification Templates for a Workflow Job Template
 * 
Make a GET request to this resource to retrieve a list of
notification templates associated with the selected
workflow job template.

The resulting data structure contains:

    {
        "count": 99,
        "next": null,
        "previous": null,
        "results": [
            ...
        ]
    }

The `count` field indicates the total number of notification templates
found for the given query.  The `next` and `previous` fields provides links to
additional results if there are more than will fit on a single page.  The
`results` list contains zero or more notification template records.  

## Results

Each notification template data structure includes the following fields:

* `id`: Database ID for this notification template. (integer)
* `type`: Data type for this notification template. (choice)
* `url`: URL for this notification template. (string)
* `related`: Data structure with URLs of related resources. (object)
* `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object)
* `created`: Timestamp when this notification template was created. (datetime)
* `modified`: Timestamp when this notification template was last modified. (datetime)
* `name`: Name of this notification template. (string)
* `description`: Optional description of this notification template. (string)
* `organization`:  (id)
* `notification_type`:  (choice)
    - `email`: Email
    - `grafana`: Grafana
    - `irc`: IRC
    - `mattermost`: Mattermost
    - `pagerduty`: Pagerduty
    - `rocketchat`: Rocket.Chat
    - `slack`: Slack
    - `twilio`: Twilio
    - `webhook`: Webhook
* `notification_configuration`:  (json)
* `messages`: Optional custom messages for notification template. (json)



## Sorting

To specify that notification templates are returned in a particular
order, use the `order_by` query string parameter on the GET request.

    ?order_by=name

Prefix the field name with a dash `-` to sort in reverse:

    ?order_by=-name

Multiple sorting fields may be specified by separating the field names with a
comma `,`:

    ?order_by=name,some_other_field

## Pagination

Use the `page_size` query string parameter to change the number of results
returned for each request.  Use the `page` query string parameter to retrieve
a particular page of results.

    ?page_size=100&page=2

The `previous` and `next` links returned with the results will set these query
string parameters automatically.

## Searching

Use the `search` query string parameter to perform a case-insensitive search
within all designated text fields of a model.

    ?search=findme

(_Added in Ansible Tower 3.1.0_) Search across related fields:

    ?related__search=findme
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsList(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsListRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsList")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/notification_templates_approvals/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	data *InlineObject83
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateRequest) Data(data InlineObject83) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateRequest {
	r.data = &data
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreate  Create a Notification Template for a Workflow Job Template
 * 
Make a POST request to this resource with the following notification template
fields to create a new notification template associated with this
workflow job template.









* `name`: Name of this notification template. (string, required)
* `description`: Optional description of this notification template. (string, default=`""`)
* `organization`:  (id, required)
* `notification_type`:  (choice, required)
    - `email`: Email
    - `grafana`: Grafana
    - `irc`: IRC
    - `mattermost`: Mattermost
    - `pagerduty`: Pagerduty
    - `rocketchat`: Rocket.Chat
    - `slack`: Slack
    - `twilio`: Twilio
    - `webhook`: Webhook
* `notification_configuration`:  (json, default=`{}`)
* `messages`: Optional custom messages for notification template. (json, default=`{&#39;started&#39;: None, &#39;success&#39;: None, &#39;error&#39;: None, &#39;workflow_approval&#39;: None}`)








# Add Notification Templates for a Workflow Job Template:

Make a POST request to this resource with only an `id` field to associate an
existing notification template with this workflow job template.

# Remove Notification Templates from this Workflow Job Template:

Make a POST request to this resource with `id` and `disassociate` fields to
remove the notification template from this workflow job template
 without deleting the notification template.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreate(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/notification_templates_error/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	page *int32
	pageSize *int32
	search *string
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest) Page(page int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest {
	r.page = &page
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest) PageSize(pageSize int32) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest {
	r.pageSize = &pageSize
	return r
}
func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest) Search(search string) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest {
	r.search = &search
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorList  List Notification Templates for a Workflow Job Template
 * 
Make a GET request to this resource to retrieve a list of
notification templates associated with the selected
workflow job template.

The resulting data structure contains:

    {
        "count": 99,
        "next": null,
        "previous": null,
        "results": [
            ...
        ]
    }

The `count` field indicates the total number of notification templates
found for the given query.  The `next` and `previous` fields provides links to
additional results if there are more than will fit on a single page.  The
`results` list contains zero or more notification template records.  

## Results

Each notification template data structure includes the following fields:

* `id`: Database ID for this notification template. (integer)
* `type`: Data type for this notification template. (choice)
* `url`: URL for this notification template. (string)
* `related`: Data structure with URLs of related resources. (object)
* `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object)
* `created`: Timestamp when this notification template was created. (datetime)
* `modified`: Timestamp when this notification template was last modified. (datetime)
* `name`: Name of this notification template. (string)
* `description`: Optional description of this notification template. (string)
* `organization`:  (id)
* `notification_type`:  (choice)
    - `email`: Email
    - `grafana`: Grafana
    - `irc`: IRC
    - `mattermost`: Mattermost
    - `pagerduty`: Pagerduty
    - `rocketchat`: Rocket.Chat
    - `slack`: Slack
    - `twilio`: Twilio
    - `webhook`: Webhook
* `notification_configuration`:  (json)
* `messages`: Optional custom messages for notification template. (json)



## Sorting

To specify that notification templates are returned in a particular
order, use the `order_by` query string parameter on the GET request.

    ?order_by=name

Prefix the field name with a dash `-` to sort in reverse:

    ?order_by=-name

Multiple sorting fields may be specified by separating the field names with a
comma `,`:

    ?order_by=name,some_other_field

## Pagination

Use the `page_size` query string parameter to change the number of results
returned for each request.  Use the `page` query string parameter to retrieve
a particular page of results.

    ?page_size=100&page=2

The `previous` and `next` links returned with the results will set these query
string parameters automatically.

## Searching

Use the `search` query string parameter to perform a case-insensitive search
within all designated text fields of a model.

    ?search=findme

(_Added in Ansible Tower 3.1.0_) Search across related fields:

    ?related__search=findme
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorList(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorListRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorList")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/notification_templates_error/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateRequest struct {
	ctx _context.Context
	ApiService *WorkflowJobTemplatesApiService
	id string
	data *map[string]interface{}
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateRequest) Data(data map[string]interface{}) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateRequest {
	r.data = &data
	return r
}

func (r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateExecute(r)
}

/*
 * WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreate  Create a Notification Template for a Workflow Job Template
 * 
Make a POST request to this resource with the following notification template
fields to create a new notification template associated with this
workflow job template.









* `name`: Name of this notification template. (string, required)
* `description`: Optional description of this notification template. (string, default=`""`)
* `organization`:  (id, required)
* `notification_type`:  (choice, required)
    - `email`: Email
    - `grafana`: Grafana
    - `irc`: IRC
    - `mattermost`: Mattermost
    - `pagerduty`: Pagerduty
    - `rocketchat`: Rocket.Chat
    - `slack`: Slack
    - `twilio`: Twilio
    - `webhook`: Webhook
* `notification_configuration`:  (json, default=`{}`)
* `messages`: Optional custom messages for notification template. (json, default=`{&#39;started&#39;: None, &#39;success&#39;: None, &#39;error&#39;: None, &#39;workflow_approval&#39;: None}`)








# Add Notification Templates for a Workflow Job Template:

Make a POST request to this resource with only an `id` field to associate an
existing notification template with this workflow job template.

# Remove Notification Templates from this Workflow Job Template:

Make a POST request to this resource with `id` and `disassociate` fields to
remove the notification template from this workflow job template
 without deleting the notification template.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id
 * @return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateRequest
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreate(ctx _context.Context, id string) ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateRequest {
	return ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

/*
 * Execute executes the request
 */
func (a *WorkflowJobTemplatesApiService) WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateExecute(r ApiWorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreateRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowJobTemplatesApiService.WorkflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreate")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/workflow_job_templates/{id}/notification_templates_started/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", _neturl.PathEscape(parameterToString(r.id, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
[...]
